<main class="font-sans antialiased w-full">
  <section id="matches">
    <div class="flex">
      <h1>Live <span>Matches</span></h1>
      <button>View all</button>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
          <span class="inline-flex items-center rounded bg-red-600 px-2 py-1 text-xs font-medium text-white">Live</span>
        </div>
        <div class="px-4 py-5 sm:p-6 flex flex-col gap-4">
          <div class="avatars flex gap-4 items-center justify-center">
            <div class="avatar inline-block h-14 w-14 rounded-full bg-white p-2 shadow">
              <img src="https://resources.premierleague.com/premierleague/badges/rb/t3.svg" alt="avatar">
            </div>
            <span class="font-bold">vs</span>
            <div class="avatar inline-block h-14 w-14 rounded-full bg-white p-2 shadow">
              <img src="https://resources.premierleague.com/premierleague/badges/rb/t3.svg" alt="avatar">
            </div>
          </div>
          <div class="progress">
            <div class="w-full flex gap-[2px]">
              <div class="bg-red-600 w-[40%] h-[4px] rounded-[8px]"></div>
              <div class="bg-black/40 w-[60%] h-[4px] rounded-[8px]"></div>
            </div>
          </div>
          <div class="scores">
            <div class="flex justify-between">
              <span class="font-bold">Chelsea</span>
              <span>3</span>
            </div>
            <div class="flex justify-between">
              <span class="font-bold">Manchester Unites</span>
              <span>1</span>
            </div>
          </div>
        </div>
      </div>

      <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
          <span class="inline-flex items-center rounded bg-red-600 px-2 py-1 text-xs font-medium text-white">Live</span>
        </div>
        <div class="px-4 py-5 sm:p-6 flex flex-col gap-4">
          <div class="avatars flex gap-4 items-center justify-center">
            <div
              class="avatar inline-block h-14 w-14 rounded-full bg-white p-2 shadow flex items-center justify-center">
              <img class="w-3/4 h-3/4" src="https://resources.premierleague.com/premierleague/badges/rb/t3.svg"
                alt="avatar">
            </div>
            <span class="font-bold">vs</span>
            <div
              class="avatar inline-block h-14 w-14 rounded-full bg-white p-2 shadow flex items-center justify-center">
              <img class="w-3/4 h-3/4" src="https://resources.premierleague.com/premierleague/badges/rb/t7.svg"
                alt="avatar">
            </div>
          </div>
          <div class="progress">
            <div class="w-full flex gap-[2px]">
              <div class="bg-red-600 w-[40%] h-[4px] rounded-[8px]"></div>
              <div class="bg-black/40 w-[60%] h-[4px] rounded-[8px]"></div>
            </div>
          </div>
          <div class="scores">
            <div class="flex justify-between">
              <span class="font-bold">Chelsea</span>
              <span>3</span>
            </div>
            <div class="flex justify-between">
              <span class="font-bold">Manchester Unites</span>
              <span>1</span>
            </div>
          </div>
        </div>
      </div>

      <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
          <span class="inline-flex items-center rounded bg-red-600 px-2 py-1 text-xs font-medium text-white">Live</span>
        </div>
        <div class="px-4 py-5 sm:p-6 flex flex-col gap-4">
          <div class="avatars flex gap-4 items-center justify-center">
            <div class="avatar inline-block h-14 w-14 rounded-full bg-white p-2 shadow">
              <img src="https://resources.premierleague.com/premierleague/badges/rb/t3.svg" alt="avatar">
            </div>
            <span class="font-bold">vs</span>
            <div class="avatar inline-block h-14 w-14 rounded-full bg-white p-2 shadow">
              <img src="https://resources.premierleague.com/premierleague/badges/rb/t3.svg" alt="avatar">
            </div>
          </div>
          <div class="progress">
            <div class="w-full flex gap-[2px]">
              <div class="bg-red-600 w-[40%] h-[4px] rounded-[8px]"></div>
              <div class="bg-black/40 w-[60%] h-[4px] rounded-[8px]"></div>
            </div>
          </div>
          <div class="scores">
            <div class="flex justify-between">
              <span class="font-bold">Chelsea</span>
              <span>3</span>
            </div>
            <div class="flex justify-between">
              <span class="font-bold">Manchester Unites</span>
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="scoreboard">
    <div class="flex">
      <h1>Scoreboard</h1>
    </div>
    <div>


      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                Team</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Points</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Played</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Won</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Drawn</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Lost</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Goals for</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Goals against
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Diff</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            {{range .scoreboard}}
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                <img src="{{.Avatar}}" alt="logo" class="w-6 h-6 inline-block mr-2">
                {{.Name}}
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.Points}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.MatchesPlayed}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.MatchesWon}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.MatchesLost}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.MatchesDrawn}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.GoalsFor}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.GoalsAgainst}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.GoalDifference}}</td>

            </tr>
            {{end}}

            <!-- More people... -->
          </tbody>
        </table>
      </div>


    </div>
  </section>
</main>