<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="dark">
  <title>Premier league</title>
  <meta name="description" content="Keep track of your important backend application states">
  <link rel="icon" href="/public/logo.png">
  <link rel="stylesheet" href="/public/fonts.css">
  <link rel="stylesheet" href="/public/tailwind.css">
</head>

<body class="h-full flex bg-white text-black mx-auto max-w-screen-lg sm:px-6 lg:px-8">
  <!-- Render the current template here -->
  {{ yield }}
</body>

</html>