@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf');
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Light.ttf');
  src: url('./fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.ttf');
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.ttf');
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
